
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body{
	background-color:grey;
	color:white;
}

.ligneTitle{
	background-color:white;
	height:2em;
}
div{
	padding:0.5em;
}

